@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Primary Colors */
  --color-primary: #003d9b;
  --color-primary-container: #0052cc;

  /* Surface Colors*/
  --color-surface-highest: #d7e2ff;
  --color-surface-low: #f1f3ff;

  --color-background: #f9f9ff;

  /* Semantic Colors*/
  --color-success: #82f9be;
  --color-error: #ba1a1a;
  --color-warning: #ffb300;

  /* Slate Neutrals Colors */
  --color-slate-dark: #041b3c;
  --color-slate-container: #4f5f7b;
  --color-slate-light: #c3c6d6;

  --color-placeholder: #737685;
  --color-ocean: #e8edff;

  --color-secondary: #434654;
  --color-input-error: #93000a;
  --color-input-error-light: #ffdad6;
  --background-image-skeleton: linear-gradient(
    90deg,
    var(--color-ocean),
    var(--color-surface-low),
    var(--color-ocean)
  );
  /* Typography */
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@layer components {
  .cal-day {
    @apply text-center text-sm py-1.5 cursor-pointer rounded-lg transition-colors;
  }

  .cal-day.other-month {
    @apply text-gray-300 cursor-default;
  }

  .cal-day.today {
    @apply font-semibold;
  }

  .cal-day.in-range {
    @apply bg-blue-50 text-blue-700 rounded-none;
  }

  .cal-day.range-start {
    @apply bg-blue-600 text-white rounded-l-lg rounded-r-none;
  }

  .cal-day.range-end {
    @apply bg-blue-600 text-white rounded-r-lg rounded-l-none;
  }

  .cal-day.range-start.range-end {
    @apply rounded-lg;
  }

  .cal-day.range-single {
    @apply bg-blue-600 text-white rounded-lg;
  }

  .cal-day.hover-in-range {
    @apply bg-blue-100 text-blue-600 rounded-none;
  }

  .cal-day.hover-start {
    @apply bg-blue-200 text-blue-800 rounded-l-lg rounded-r-none;
  }

  .cal-day.hover-end {
    @apply bg-blue-200 text-blue-800 rounded-r-lg rounded-l-none;
  }

  .cal-day.hover-single {
    @apply bg-blue-200 text-blue-800 rounded-lg;
  }

  .cal-day:not(.other-month):not(.selected):hover {
    @apply bg-gray-100;
  }
}
